
.row{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-radius: 10px;
    background-color: aqua
}
.col-4{
    margin: 5px;
}
.add-row{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    width: 450px;
    margin: 10px;
    background-color: brown;
}
.btns{
    background-color: green;
    color:white;
    border-radius: 10px;
    border: 2px solid green;
}
.items-container{
    border:2px solid black; 
    width:fit-content;

}


