.calcu{
    width: 250px;
    margin: auto;
    border: 2px solid black;
    padding: 30px;
    margin-top:50px;
}
#display{
    display: block;
    margin-bottom: 20px;
}
.buttons{
    width: 200px;
}
#button{
    width: 40px;
    height: 40px;
    margin: 10px
}